{% extends 'base.html' %}
{% load static %}
{% block title %}Projects - Priyam{% endblock %}

{% block content %}
<h2 class="mb-4">My Projects</h2>

<div class="row">
  {% for project in projects %}
    <div class="col-md-6 col-lg-4 mb-4 slide-in">
      <div class="card h-100 shadow-sm">
        {% if project.image %}
          <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
          {% if project.link %}
            <a href="{{ project.link }}" class="btn btn-primary" target="_blank">View</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% empty %}
    <p>No projects yet.</p>
  {% endfor %}
</div>
{% endblock %}
